<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <% if (!user_id) { %>
      <form class="form-inline" action="/register" method="GET">
        <button type="submit" class="btn btn-outline-light" style="margin: 1em" >Register</button>
      </form>
      <form class="form-inline" action="/login" method="GET">
        <button type="submit" class="btn btn-outline-light" style="margin: 1em" >sign in</button>
      </form>
    <% } else { %>
      <h6 class="navbar-brand">logged in as: <%= user_id %></h6>
      <form class="form-inline" action="/logout" method="GET">
      <button type="submit" class="btn btn-outline-light" style="margin: 1em" >logout</button>
    </form>
      <% } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
  </nav>
</header>